html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  width: 100vw;
  overflow-x: hidden;
  background: #f4f5f7;
}

a {
  color: #84E1A7;

  text-decoration: none;
}

* {
  box-sizing: border-box;
}
