.mainInfoContainer {
  width: 100%;
  height: 660px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 165px;
  background: #fafafa;
}

.mainInfo {
  width: 520px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.mainInfo h2 {
  font-weight: 300;
  font-size: 53px;
  line-height: 62px;
  /* or 117% */
  margin: 0;
  color: #2d314e;
}

.mainInfo p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 158% */
  width: 480px;
  letter-spacing: -0.01em;

  color: #959499;
}

.mainInfoImagesContainer {
  width: calc(100vw - 685px);
  height: 100%;

  position: relative;
}

.mainInfoTextureContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.mainInfoTexture {
  height: 150%;
  width: 150%;
  top: -50%;
  object-fit: cover;
  position: absolute;
}

.mainInfoPhones {
  width: 50vw;
  height: 120%;
  position: absolute;
  object-fit: contain;
  top: 0%;
  right: -15%;
  z-index: 100;
}

.bankDetailsContainer {
  width: 100%;
  height: 660px;
  padding: 80px 165px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.bankDetailsContainer h3 {
  font-weight: 400;
  font-size: 40px;
  line-height: 62px;
  /* identical to box height, or 155% */
  margin: 15px 0;
  letter-spacing: -0.02em;

  color: #2d314e;
}

.bankDetailsContainer p {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  /* or 147% */
  margin: 0;
  color: #959499;
  width: 600px;
}

.bankFeaturesContainer {
  display: flex;
  width: 100%;
  height: 280px;
  gap: 2rem;
}

.featuresCard {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 25%;
  gap: 20px;
}

.featuresCard h4 {
  font-weight: 400;
  font-size: 23px;
  line-height: 62px;
  /* identical to box height, or 270% */

  letter-spacing: -0.01em;
  margin: 0;
}

.featuresCard p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  width: 100%;
  letter-spacing: -0.04em;

  color: #959499;
  margin: 0;
}

.featuresCardLogo {
  height: 72px;
  width: 72px;
  border-radius: 999px;
  background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.featuresCardLogo img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.latestArticlesContainer {
  background: #fafafa;
  width: 100%;
  padding: 80px 165px;
}

.latestArticlesInfo {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.latestArticlesContainer h3 {
  font-weight: 400;
  font-size: 40px;
  line-height: 62px;
  /* identical to box height, or 155% */

  letter-spacing: -0.02em;

  color: #2d314e;
}

.latestArticlesCardsContainer {
  width: 100%;
  min-height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.latesArticlesCard {

width: 100%;
  height: 400px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.latesArticlesCard img {
  height: 45%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}

.latesArticlesInfoContainer {
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.latesArticlesCard span {
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  /* identical to box height, or 180% */

  letter-spacing: -0.02em;

  color: #959499;
}

.latesArticlesCard h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  /* or 138% */

  letter-spacing: -0.02em;

  color: #2d314e;
}

.latesArticlesCard p {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  /* or 138% */
  margin: 0;

  letter-spacing: -0.02em;

  color: #959499;
}

@media (max-width: 1440px) {
  .mainInfoPhones {
    width: 100%;
    height: 120%;
    position: absolute;
    object-fit: initial;
    top: 0%;
    right: -15%;
    z-index: 100;
  
  }
  .mainInfoImagesContainer {
    width: calc(100vw - 2rem);
  }
  .mainInfoContainer {
    padding-left: 2rem;
  }
  .mainInfoTexture {
    height: 100%;
    width: 200%;
    top: 0%;
    object-fit: cover;
    position: absolute;
  }
  .bankDetailsContainer {
    width: 100%;
    height: 660px;
    padding: 80px 2rem;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .latestArticlesContainer {
    background: #fafafa;
    width: 100%;
    padding: 80px 2rem;
  }
}

